.banner__titulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 16px;
}


@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 51px;
        line-height: 61px;
        margin-top: 145px;
    }
}
