.registro__input {
    width: calc(100% - 12px);
    height: 56px;
    background: #ffffff;
    padding-left: 12px;
    margin-bottom: 16px;
    border-radius: 3px;
    border-bottom: 1px solid #c8c8c8;
}
