.registro__descripcion {
    height: 82px;
    border: none;
    padding: 16px 0 0 12px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A2A2A2; 
}
