.producto {
    width: 140px;
    height: 249px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .producto {
        width: 164px;
        height: 252px;
    }
}

@media screen and (min-width: 1440px) {
    .producto {
        width: 176px;
        height: 252px;
        margin-bottom: 64px;
    }
}
