.contacto__mensaje {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #a2a2a2;
    border: none;
    height: 82px;
    margin-bottom: 16px;
    width: calc(100% - 14px);
    background: #ffffff;
    padding-left: 12px;
}
.contacto__mensaje textarea {
    height: calc(100% - 52px);
    width: calc(100% - 24px);
    padding: 0;
    border: none;
    outline: none;
    padding: 16px 12px 16px 0;
    resize: none;
}
